/* Mobile styles */
@media only screen and (max-width: 640px) {
	.card-body {
	  font-size: 14px;
	}
	.card figure img {
	  width: 100%;
	  height: auto;
	}
  }

  /* Mobile styles */
@media only screen and (max-width: 640px) {
	.card-body {
	  font-size: 14px;
	  padding: 10px;
	}
	.card {
	  margin: 10px;
	}
	.card figure img {
	  width: 100%;
	  height: auto;
	}
  }
  